<div class="row">
  <div class="col-md-12">
    <h2 class="search-criteria">
      <% if !@results.empty? %>
        Products meeting the search criteria
      <% else %>
        Sorry, no results found.
      <% end %>
    </h2>
  </div>
</div>

<% @results.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |result| %>
      <div class="col-md-4 col-xs-12">
        <%= render 'items/item_card', item: result %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <%= paginate @results, html: {class: "pagination pull-right"} unless @results.empty? %>
    </div>
  </div>
</div>
