<div class="row">

  <div class="table-responsive">
    <table class="table table-shopping tablesorter">
      <thead>
        <tr>
          <th class="text-center"></th>
          <th class="th-description">Name</th>
          <th class="text-center">Account No.</th>
          <th class="text-center">Items</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% jobs.each do |job| %>
          <% cache job do %>
            <tr>
              <td class="text-center">
                <div class="img-container">
                  <%= link_to image_tag(job.maps_url, class: "img-rounded img-responsive img-raised"), account_job_path(job.account, job) %>
                </div>
              </td>
              <td class="td-name">
                <%= link_to job.name, account_job_path(job.account, job) %>
              </td>
              <td class="text-center">
                <%= job.account.account_number %>
              </td>
              <td class="text-center">
                <%= job.items_count %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
