<div class="row">

  <div class="table-responsive">
    <table class="table table-shopping tablesorter">
      <thead>
        <tr>
          <th class="text-center"></th>
          <th class="th-description">Job</th>
          <th class="text-center">Status</th>
          <th class="text-center">Account</th>
          <th class="text-center">Items</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "jobs/job", collection: jobs, cached: true %>
      </tbody>
    </table>
  </div>

</div>
