<div class="col-xs-12 extra-large-top-margin">
  <div class="well bs-component">
    <div class="text-center">
      <h1><%= @job.name %></h1>
    </div>

    <div class="row vertical-align">
      <div class="col-xs-12 col-md-6" id="job-map"></div>
      <div class="col-xs-12 col-md-6">
        <%= render 'form', submit_text: "Save" %>
      </div>
    </div>

  </div>
</div>
