<% meta title: "Jobs - #{@company.name}" %>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-12">

    <div class="row">
      <ul class="nav nav-pills nav-pills-icons nav-pills-primary text-center justify-list" role="tablist">
        <li class="">
          <a href="#potential" aria-controls="potential" role="tab" data-toggle="tab" aria-expanded="false">
            <div class="info">
              <span class="icon icon-info tab-icon">
                <i class="material-icons">map</i>
              </span>
              <h3>Potential</h3>
            </div>
          </a>
        </li>
        <li class="">
          <a href="#active" aria-controls="active" role="tab" data-toggle="tab" aria-expanded="false">
            <div class="info">
              <span class="icon icon-primary tab-icon">
                <i class="material-icons">map</i>
              </span>
              <h3>Active</h3>
            </div>
          </a>
        </li>
        <li class="">
          <a href="#completed" aria-controls="completed" role="tab" data-toggle="tab" aria-expanded="false">
            <div class="info">
              <span class="icon icon-warning tab-icon">
                <i class="material-icons">map</i>
              </span>
              <h3>Completed</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="large-top-margin">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="potential">
          <%= render "jobs_list", jobs: @jobs.potential %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="active">
          <%= render "jobs_list", jobs: @jobs.active %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="completed">
          <%= render "jobs_list", jobs: @jobs.completed %>
        </div>
      </div>
    </div>

  </div>
</div>
