<div class="col-md-8 col-md-offset-2 extra-large-top-margin">
  <div class="well bs-component">
    <div class="text-center">
      <h1>New Job</h1>
    </div>
    <%= render 'form' %>
  </div>
</div>
