<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% if resource.errors.present? %>
      <div class="error_messages notice alert alert-danger text-center">
        <%= devise_error_messages! %>
      </div>
    <% end %>
  </div>
</div>

<div class="row vertical-align">
  <div class="col-xs-12 col-md-6" id="job-map"></div>
  <div class="col-xs-12 col-md-6">
    <%= render 'users/form_fields', resource: resource, f: f %>
  </div>
</div>
