@media all {
	.page-break	{ display: none; }
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
	font-family: $font-family-serif;
}

a, a:hover, a:focus {
  color: $brand-primary;
}

.actions {
  margin-top: 1em;
}

.form-row {
  margin-top: 1em;
}

div.navbar.navbar-default {
  background-color: $brand-primary;
  margin-bottom: 0;
}

.alert-fixed {
  position: fixed;
	left: 0;
	margin-top: 5em;
  width: 100%;
  z-index:9999;
}

.btn.btn-raised.btn-primary, .input-group-btn .btn.btn-raised.btn-primary, .btn.btn-fab.btn-primary, .input-group-btn .btn.btn-fab.btn-primary, .btn-group-raised .btn.btn-primary, .btn-group-raised .input-group-btn .btn.btn-primary {
  background-color: $brand-primary;
}

.btn.btn-raised.btn-success, .input-group-btn .btn.btn-raised.btn-success, .btn.btn-fab.btn-success, .input-group-btn .btn.btn-fab.btn-success, .btn-group-raised .btn.btn-success, .btn-group-raised .input-group-btn .btn.btn-success {
  background-color: $brand-primary;
}

.navbar-brand {
  font-family: "bradley hand";
}

.panel, .panel-heading, body .container .well, body .container-fluid .well, body .container .jumbotron, body .container-fluid .jumbotron {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.panel.panel-primary > .panel-heading.primary-lighter {
  background-color: $brand-lighter;
}

.panel.panel-primary > .panel-heading.primary-darker {
  background-color: $brand-darker;
}

.panel.panel-primary > .panel-heading.complement-primary {
  background-color: $complement-primary;
}

.panel.panel-primary > .panel-heading.complement-darker {
  background-color: $complement-darker;
}

.panel.panel-primary > .panel-heading.complement-lighter {
  background-color: $complement-lighter;
}

.panel.panel-primary > .panel-heading.secondary-primary {
  background-color: $secondary-primary;
}

.panel.panel-primary > .panel-heading.secondary-darker {
  background-color: $secondary-darker;
}

.panel.panel-primary > .panel-heading.secondary-lighter {
  background-color: $secondary-lighter;
}

@media(min-width:768px){
  .menu-toggle-overlay {
    position: absolute;
    z-index: 1
  }
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

h1, h3, h4 {
  overflow-wrap: break-word;
  a {
    color: black;
  }
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
  color: $brand-primary;
  border-color: $brand-primary;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check {
  color: $brand-primary;
  border-color: $brand-primary;
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
  color: $brand-primary;
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
  color: white;
}

.info {
	padding: 0;
}
