$brand-primary: #0000FF;
$brand-darker: #010195;
$brand-lighter: #4949FC;

$complement-primary: #BC00FF;
$complement-darker: #68008D;
$complement-lighter: #C732FC;

$secondary-primary: #FFBF00;
$secondary-darker: #D5A000;
$secondary-lighter: #FFCA2A;
