.background-image {
  background: url('https://res.cloudinary.com/dkmy7znbr/image/asset/f_auto,o_30,q_100/v1469316403/facebook_banner-d9df3338d6da60c9c04aadcb38989da3.jpg');
  background-size: cover;
}

.over-background {
  margin-top: -70vh;
}

.info-landing {
  padding-top: 20px;
  padding-bottom: 20px;
}
