.background-image {
  background: cloudinary-url('facebook_banner.jpg', $opacity: '30', $quality: 'auto', $fetch_format: 'auto');
  background-size: cover;
}

.over-background {
  margin-top: -70vh;
}

.info-landing {
  padding-top: 20px;
  padding-bottom: 20px;
}
