.company-title {
  font-family: "Bradley Hand" !important;
  color: #3e00ff !important;
}

.company-font {
  font-family: "Bradley Hand";
}

.nav-link {
  font-size: 16px;
}

textarea#wysiwyg {
  height: 500px;
}

img.logo {
  height: 3rem;
}

.brand-logo-link img {
  float: left;
  margin-right: 1em;
}

.panel-heading a {
  color: white;
}

.white-link {
  color: white;
  &:hover {
    color: black;
  }
}

.dashboard-button {
  width: 150px;
}

.navbar-title {
  font-size: 32px;
}

#hours-of-operation {
  background-image: cloudinary-url('book_clock_high_resolution_wallpaper.jpg', $client_hints: true, $fetch_format: "auto", $width: "auto", $quality: "auto")
}

.card-content {
  p.card-description, table tr td {
    color: white;
    font-weight: bold;
  }
}

.main-header-bg {
  background-image: cloudinary-url("facebook_banner.jpg", $client_hints: true, $fetch_format: "auto", $opacity: 30, $quality: "auto", $width: "auto");
}

.contact-bg {
  background-image: cloudinary-url("facebook_banner_2_cropped.jpg", $client_hints: true, $fetch_format: "auto", $gravity: "auto", $opacity: 30, $quality: "auto");
}
