.company-title {
  font-family: "Bradley Hand";
  color: #3e00ff;
}

.company-font {
  font-family: "Bradley Hand";
}

textarea#wysiwyg {
  height: 500px;
}

img.logo {
  height: 3rem;
}

.brand-logo-link img {
  float: left;
  margin-right: 1em;
}

.panel-heading a {
  color: white;
}

.white-link {
  color: white;
  &:hover {
    color: black;
  }
}

.dashboard-button {
  width: 150px;
}
