table.barby-barcode {
  border-spacing: 0;
}

tr.barby-row {
  height: 3em;
}

td.barby-cell {
  width: 3px; height: 3px;
}

td.barby-cell.on {
  background: #000;
}

tr.item-row-descriptor {
  height: 4em;
}

td.item-row-description {
  padding-left: 1em;
}

.barcode {
  margin-top: 1em;
}

.tag {
  margin-top: 1em;
  margin-bottom: 1em;
}

.tag-price {
  text-align: center;
  font-size: 28px;
}

.pdf-tag {
  background-color: #FFFFFF;
}

@media (max-width: 767px) {
  .form-label {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .form-label {
    text-align: right;
  }
}

#existing-item {
  margin-top: 2em;
  margin-bottom: 2em;
}

.half-thumb {
  width: 85px;
}

.small-thumb {
  height: 100px;
  width: 100px;
}

.grid-sizer,
.grid-item,
.item-grid-item,
.item-grid-item--width2 {
  margin-bottom: 10px;
}

.item-grid-sizer {
  width: 20%;
}

.item-grid-item--width2 {
  width: 40%;
}

/* 2 columns wide */
.grid-item--width2 {
  width: 400px;
}

a.panel-title:hover {
  color: white;
}

.panel-body, .well-caption {
  padding: 2rem;
}

.dropzone-file-field {
  margin-left: 15px;
  margin-right: 15px;
}

.dropzone {
  width: 100%;
}

#item-attributes {
  margin: 0 auto;

  th, td {
    padding: 5px;
  }
}

.tags-row {
  height: 258px;
}

.tag-row {
  height: 128px;
  margin-bottom: 3px;
}

.tag-logo {
  max-height: 100px;
  max-width: 160px;
  margin: 0 auto;
}

.tag-thumb {
  max-height: 95%;
}

.tag-barcode {
  margin-top: 32px;
}

.list-group .list-group-item .row-picture, .list-group .list-group-item .row-action-primary {
  i.complement-primary {
    background: $complement-primary;
  }

  i.secondary-lighter {
    background: $secondary-lighter;
  }

  i.secondary-darker {
    background: $secondary-darker;
  }

  i.complement-lighter {
    background: $complement-lighter;
  }

  i.complement-darker {
    background: $complement-darker;
  }

  i.primary-lighter {
    background: $brand-lighter;
  }
}

.delete-button {
  position:absolute !important;
  bottom:10px;
  right:10px;
  width:100px;
  height:30px;
}

.image-container {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.img-featured {
  margin: 0 auto;
}

.button-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.btn-file {
  display: inline-block;
  overflow: visible;
}

.nav li a.img-tab {
  &:hover, &:active, &:visited {
    border: none;
    background: none;
    // color: #00adee;
  }
}

.datepicker{
  z-index:1151 !important;
}
