<div class="row">

  <div class="table-responsive">
    <table class="table table-shopping tablesorter">
      <thead>
        <tr>
          <th class="text-center"></th>
          <th class="th-description">Name</th>
          <th class="text-center">Account No.</th>
          <th class="text-center">Items</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% clients.each do |client| %>
          <tr>
            <td class="text-center">
              <div class="img-container">
                <%= link_to "<i class='material-icons'>person</i>".html_safe, client_path(client) %></h3>
              </div>
            </td>
            <td class="td-name">
              <%= link_to client.full_name, account_client_path(client.account, client) %>
            </td>
            <td class="text-center">
              <%= link_to client.account.account_number, account_path(client.account) %>
            </td>
            <td class="text-center">
              <%= client.account.items.count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
