<div class="row large-top-margin">

  <h1 class="text-center company-title">New Client</h1>
  </br>

  <div class="col-md-8 col-md-offset-2">

    <%= form_for @client do |f| %>
      <%= render 'users/form', resource: @client, f: f %>
      <%= f.hidden_field :account_id, value: @account.try(:id) %>
      <div class="text-center">
        <%= f.submit "Create Client", class: "btn btn-raised btn-success" %>
      </div>
    <% end %>

  </div>

</div>
