<div class="row text-center">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<div class="row">
			<ul class="nav nav-pills text-center justify-list" role="tablist">
				<li class="">
					<a href="#unpaid" aria-controls="unpaid" role="tab" data-toggle="tab" aria-expanded="false">
						<div class="info">
							<span class="icon icon-warning tab-icon">
								<i class="material-icons">account_balance_wallet</i>
							</span>
							<h1>Unpaid</h1>
						</div>
					</a>
				</li>

				<li class="">
					<a href="#paid" aria-controls="paid" role="tab" data-toggle="tab" aria-expanded="false">
						<div class="info">
							<span class="icon icon-primary tab-icon">
								<i class="material-icons">account_balance_wallet</i>
							</span>
							<h1>Paid</h1>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
