<div class="row">

  <div class="table-responsive">
    <table class="table table-shopping tablesorter">
      <thead>
        <tr>
          <th class="text-center">Statement</th>
          <th class="text-center">Date</th>
          <th class="text-center">Status</th>
          <th class="text-center">Account</th>
          <th class="text-center">Amount</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "statements/statement", collection: statements, cached: true %>
      </tbody>
    </table>
  </div>

</div>
