<table class="pull-right nested-statement-table">
  <tr>
    <th class="text-right">Total Sales</th>
    <td class="text-right statement-data">
      <%= humanized_money_with_symbol(Money.new(statement.items.sum(:sale_price_cents))) %>
    </td>
  </tr>
  <tr>
    <th class="text-right">Total Fees</th>
    <td class="text-right statement-data">
      <%= humanized_money_with_symbol(statement.total_consignment_fee) %>
    </td>
  </tr>
  <tr>
    <th class="text-right">Due to Consignor</th>
    <th class="text-right statement-data">
      <%= humanized_money_with_symbol(statement.amount_due_to_client) %>
    </th>
  </tr>
</table>
