<% meta title: "Consignment Statements" %>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-12 top-margin">

    <%= render 'index_header_cards' %>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">

        <div class="large-top-margin">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="unpaid">
              <%= render "statements_list", statements: @statements.unpaid %>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="paid">
              <%= render "statements_list", statements: @statements.paid %>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
