---
http_interactions:
- request:
    method: post
    uri: https://docraptor.com/async_docs
    body:
      encoding: UTF-8
      string: '{"test":true,"document_url":"https://jtrp.ngrok.io/accounts/anthony/letters/6?token=H1ZQKG7xnQmJ\u0026print=true","name":"Leonora
        Block_Letter_1.pdf","document_type":"pdf","javascript":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MG1IVDN0REhWYk0yOEhuQWtPWms6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"551072a5d4ab482ed47a7303c73f711b"
    body:
      encoding: UTF-8
      string: '{"status_id":"ef1acb66-8dc3-48fd-b388-41bd76d9523a"}'
  recorded_at: Wed, 22 Mar 2017 11:39:55 GMT
- request:
    method: get
    uri: https://docraptor.com/status/ef1acb66-8dc3-48fd-b388-41bd76d9523a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MG1IVDN0REhWYk0yOEhuQWtPWms6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f0a1c1a0cfb52787bdf8195cd46d1ef9"
    body:
      encoding: UTF-8
      string: '{"status":"queued"}'
  recorded_at: Wed, 22 Mar 2017 11:39:55 GMT
[...]
- request:
    method: get
    uri: https://docraptor.com/status/ef1acb66-8dc3-48fd-b388-41bd76d9523a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MG1IVDN0REhWYk0yOEhuQWtPWms6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bf21b775c1cede0e476c6c48d952a8de"
    body:
      encoding: UTF-8
      string: '{"status":"failed","validation_errors":"Response Code Error (500) downloading
        document content from supplied url."}'
  recorded_at: Wed, 22 Mar 2017 11:39:59 GMT
recorded_with: VCR 3.0.3
