<div class="col-lg-6 col-md-12">
  <div class="card">
    <div class="card-header" data-background-color="orange">
      <span>
        <h4 class="title">Activity Feed</h4>
        <span class="category">Showing the latest activities</span>
        <span class="pull-right"><%= link_to "View All <i class='material-icons'>keyboard_arrow_right</i>".html_safe, activities_path %></span>
      </span>
    </div>

    <div class="container-fluid">
      <%= render "activities/feed_list", activities: @activities, cached: true %>
    </div>

  </div>
</div>
