<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card card-product card-plain">
    <%= link_to item_path(item) do %>
      <div class="card-image">
        <%= cl_image_tag(item.featured_photo.public_id,
          width: :auto,
          fetch_format: "auto",
          quality: "auto",
          gravity: "auto",
          aspect_ratio: "3:4",
          crop: "fill",
          responsive: true,
          responsive_placeholder: "blank",
          radius: 10
        ) %>
      </div>
    <% end %>

    <div class="card-content">
      <h4 class="card-title">
        <%= link_to item.description.titleize, item_path(item) %>
      </h4>
      <div class="footer price text-center">
        <%= humanized_money_with_symbol(item.listing_price) %>
      </div>
    </div>
  </div>
</div>
