<div class="profile-page">
  <div class="page-header header-filter contact-bg" data-parallax="true"></div>

  <div class="main main-raised">
    <div class="profile-content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="profile">
              <div class="avatar">
                <%= image_tag("JTRPv2_color_noname.png", fetch_format: "jpg", class: "img-circle img-responsive img-raised") %>
              </div>
              <div class="brand name text-center">
                <h3 class="title"><%= @company.name %></h3>
              </div>
            </div>
          </div>
        </div>

        <div class="description text-center">
          <p>Just the Right Piece is a second-hand furniture store in Salem, NH. We have a wide vareity of items to suit almost any taste, and our inventory is always changing. If you're not looking to shop, we can purchase or consign quality used furniture from you, our clients. If a piece of furniture is in good, solid condition, but needs a paint job, we can repaint or refinish the piece to become more appealing and desirable to a customer for resale. At Just the Right Piece, we are all about assisting our clients in making a profit by reselling unused or unwanted furniture quickly by pricing items reasonably and appropriately.</p>
        </div>

        <div class="section">

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="row registerbox text-center">
                <div class="col-md-4">
                  <div class="icon icon-info">
                    <i class="material-icons large-icon">store</i>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="icon icon-success">
                    <i class='fa fa-credit-card-alt large-icon' aria-hidden='true'></i>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="icon icon-primary">
                    <i class="material-icons large-icon">supervisor_account</i>
                  </div>
                </div>
              </div>

              <div class="row registerbox">
                <div class="col-md-4">
                  <div class="description">
                    <h4 class="text-center">Shop</h4>
                    <p>Our inventory is always changing. Stop by to see what's in stock today!</p>
                    <p>Any purchases not picked up within 7 days of sale will incur a storage fee of $5.00 per day.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="description">
                    <h4 class="text-center">Sell</h4>
                    <p>We offer a free in-home consultation where you can ask any questions you may have, show us your furniture and discuss what you'd like to do with it.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="description">
                    <h4 class="text-center">Consign</h4>
                    <p>While we generally prefer to purchase items from clients outright, we also offer competitive consignment rates. Please review our <%= link_to "consignment policies", consignment_policies_path %> for more information.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

</div>

<% if current_user.try(:internal?) %>
  <% content_for :fab do %>
    <div class="btn-group dropup">
      <button type="button" class="btn btn-raised btn-primary btn-fab dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class='material-icons'>menu</i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right fab-menu">
        <li><%= link_to "<i class='material-icons'>edit</i> Edit".html_safe, edit_company_path(@company) %></li>
      </ul>
    </div>
  <% end %>
<% end %>
