<div class="profile-page">
  <div class="page-header header-filter contact-bg" data-parallax="true"></div>

  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">

        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="profile">
              <div class="avatar">
                <%= image_tag("JTRPv2_color_noname.png", fetch_format: "jpg", class: "img-circle img-responsive img-raised") %>
              </div>
              <div class="brand name text-center">
                <h3 class="title">Consignment Policies</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <%= @company.consignment_policies.try(:html_safe) %>
        </div>
        <% if current_user.try(:internal?) %>
          <div class="row hidden-print">
            <%= link_to "<i>Edit</i>".html_safe, edit_company_path(@company), class: "pull-right" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>
