<div class="row">
  <div class="col-md-12">
    <div class="breadcrumbs">
      <ul class="breadcrumb">
        <li><%= link_to "Home", root_path %> <span class="divider"></span></li>
        <li class="active">Consignment Policies</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="well">
      <% if current_user.try(:internal?) %>
        <div class="row hidden-print">
          <%= link_to "<i>Edit</i>".html_safe, edit_company_path(@company), class: "pull-right" %>
        </div>
      <% end %>
      <%= @company.consignment_policies.try(:html_safe) %>
    </div>
  </div>
</div>
