<div class="contact-page">

  <div id="contactUsMap" class="big-map"></div>

  <div class="main main-raised">
    <div class="section">
      <div class="container">
        <%= render "companies/contact_form" %>
      </div>
      <%= render "companies/hours_and_address_cards", company: @company %>
    </div>


  </div>

</div>
