<div class="row">
  <div class="col-sm-12 text-center">
    <h1 class="company-title">Dashboard</h1>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <%= render 'header_cards' %>
  </div>
</div>

<div class="row text-center section section-dark extra-large-top-margin">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <%= render 'new_buttons' %>
  </div>
</div>

<div class="row large-top-margin">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <%= render 'middle_section' %>
  </div>
</div>
