<p>
  Thank you for consigning your items with us. Your 90-day consignment period has reached its end, and as you have not retrieved your items, they have have become our property as of <b><%= (@letter.created_at).strftime("%B %d") %></b>.
</p>

<p>
  We hope you have had a positive experience, and that you choose to sell to or consign with us again!
</p>
