<div class="panel-disclaimer">
  <div class="panel-body">
    <p><u>This proposal is not binding and shall not be deemed an enforceable contract. It is for information purposes only.</u></p>

    <p>
      We offer to purchase from you or sell on consignment for you the following items as indicated for each item. All consigned items will be consigned in accordance with our Consignment Policies. The prices we have listed are based on the research we have conducted on your items and our past experience. If you would like to sell the item directly to us, the “purchase price” is the price we are willing to pay you for it. If you would like to consign the item with us, the “original asking price” is the initial price we will advertise your item for (we may negotiate with a buyer and accept a price lower than this) and the “minimum sale price” is the lowest price we will accept for the item.
    </p>
    <p>
      All stated item prices are based on the items being delivered to our store. If you would like us to provide a box truck and movers to remove all purchased and consigned items from your home, load them onto our truck, bring them to our store, and unload them, we will be happy to provide the service in accordance with our Client Moving Services Policies.
    </p>
    <p>
      For your convenience, we are giving you a Proposal Response form where you can indicate what you decide to do with each item. Please let us know what you decide for each item by doing one of the following:
    </p>
    <ul>
      <li>scan the form and email it to us, </li>
      <li>instead of scanning the form, you can just let us know in an email what you’d like to do for each item, </li>
      <li>mail the form back to us, or</li>
      <li>call us and tell us over the phone.</li>
    </ul>
    <p>
      If you decide to consign some items, we will prepare a Consignment Agreement for the items and send it to you for your signature. If you decide to sell some items to us, we will prepare a Purchase Invoice for the items.
    </p>
    <p>
      We look forward to your business.
    </p>

  </div>
</div>
