<div class="panel-disclaimer">
  <div class="panel-body">
    <p><u>This proposal is not binding and shall not be deemed an enforceable contract. It is for information purposes only.</u></p>

    <p>
      We offer to purchase from you or sell on consignment for you the following items as indicated for each item. All consigned items will be consigned in accordance with our Consignment Policies. The prices we have listed are based on the research we have conducted on your items and our past experience. If you would like to sell the item directly to us, the “purchase price” is the price we are willing to pay you for it. If you would like to consign the item with us, the “original asking price” is the initial price we will advertise your item for (we may negotiate with a buyer and accept a price lower than this) and the “minimum sale price” is the lowest price we will accept for the item.
    </p>
    <p>
      All stated item prices are based on the items being delivered to our store. If you would like us to provide a box truck and movers to remove all purchased and consigned items from your home, load them onto our truck, bring them to our store, and unload them, we will be happy to provide the service in accordance with our Client Moving Services Policies.
    </p>
    <p>
      Please mark your decision for each item choices in the form below.
    </p>
    <p>
      If you decide to consign some items, we will prepare a Consignment Agreement for the items and send it to you for your signature. If you decide to sell some items to us, we will prepare a Purchase Invoice for the items.
    </p>
    <p>
      We look forward to your business.
    </p>

  </div>
</div>
