<h1 class="text-center">Proposal Details for <%= @proposal.client.full_name %></h1>
</br>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
    <h2>Step 2</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2" id="proposal-item-list">
    <%= render 'item_details_list', items: @items %>
  </div>
</div>

<div class="row large-top-margin">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="col-xs-6">
      <%= link_to "<i class='fa fa-caret-left'></i> Step 1: Add Items".html_safe, edit_proposal_path(@proposal), class: "btn btn-raised btn-primary" %>
    </div>
    <div class="col-xs-6 text-right">
      <%= link_to "Step 3: View Proposal <i class='fa fa-caret-right'></i>".html_safe, proposal_path(@proposal), class: "btn btn-raised btn-primary" %>
    </div>
  </div>
</div>
