<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="panel panel-primary large-top-margin">

        <div class="panel-body">
          <div class="row text-center">
            <h2>Step 4</h2>
            This is where you can decide whether to offer to purchase or consign an item, set rates, and add notes.
          </div>

          <div class="row large-top-margin">
            <% @items.order(:account_item_number).each do |item| %>
              <% cache [@proposal, item] do %>
                <% next unless item.persisted? %>
                <div class="card">
                  <%= render 'proposals/item_row', collection: @items, cached: true, item: item %>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="row large-top-margin">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="col-xs-6">
        <%= link_to "<i class='fa fa-caret-left'></i> Step 3: Sort Items".html_safe, account_job_proposal_sort_items_path(@account, @job, @proposal), class: "btn btn-raised btn-primary" %>
      </div>
      <div class="col-xs-6 text-right">
        <%= link_to "Step 5: View Proposal <i class='fa fa-caret-right'></i>".html_safe, account_job_proposal_path(@account, @job, @proposal), class: "btn btn-raised btn-primary" %>
      </div>
    </div>
  </div>

</div>

<% if current_user.try(:internal?) %>
  <% content_for :fab do %>
    <%= render 'proposals/fab_menu', account: @account, job: @job, proposal: @proposal %>
  <% end %>
<% end %>
