<% breadcrumb :job_proposals, @job %>

<div class="row">
  <div class="col-sm-12 text-center">
    <h1 class="company-title">Proposals</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="row">
      <ul class="nav nav-pills nav-pills-icons nav-pills-primary text-center justify-list" role="tablist">
        <li class="">
          <a href="#potential" aria-controls="potential" role="tab" data-toggle="tab" aria-expanded="false">
            <div class="info">
              <span class="icon icon-info tab-icon">
                <i class="material-icons">map</i>
              </span>
              <h3>Potential</h3>
            </div>
          </a>
        </li>
        <li class="">
          <a href="#active" aria-controls="active" role="tab" data-toggle="tab" aria-expanded="false">
            <div class="info">
              <span class="icon icon-primary tab-icon">
                <i class="material-icons">map</i>
              </span>
              <h3>Active</h3>
            </div>
          </a>
        </li>
        <li class="">
          <a href="#inactive" aria-controls="inactive" role="tab" data-toggle="tab" aria-expanded="false">
            <div class="info">
              <span class="icon icon-warning tab-icon">
                <i class="material-icons">map</i>
              </span>
              <h3>Inactive</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="large-top-margin">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="potential">
          <%= render "proposals_list", proposals: @proposals.potential, account: @account %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="active">
          <%= render "proposals_list", proposals: @proposals.active, account: @account %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="inactive">
          <%= render "proposals_list", proposals: @proposals.inactive, account: @account %>
        </div>
      </div>
    </div>
  </div>
</div>
