<div class="col-xs-12 col-md-4 client-grid-item">
  <div class="panel panel-primary text-center" id="panel-item-<%= item.id %>">
    <div class="panel-body">
      <% if item.listing_photos.present? %>
        <h4><%= link_to image_tag(item.listing_photos.first.photo_url(:thumb), class: "thumb"), path %></h4>
      <% elsif item.initial_photos.present? %>
        <h4><%= link_to image_tag(item.initial_photos.first.photo_url(:thumb), class: "thumb"), path %></h4>
      <% end %>
    </div>
    <%= render 'items/panel_header', account: item.account, job: item.job, proposal: item.proposal, item: item %>
  </div>
</div>
