<% meta title: "Items - #{@company.name}" %>

<div class="row large-top-margin">
  <div class="col-md-10 col-md-offset-1 col-xs-12 large-bottom-margin">
    <div class="text-right bottom-margin">
      <%= link_to "Print Labels", labels_items_url(by_id: @items.map(&:id)), class: "btn btn-info btn-raised btn-round", target: "blank" %>
    </div>
    <table data-toggle="table"
           data-url="<%= items_path %>"
           data-pagination="true"
           data-side-pagination="server"
           data-page-list="[20, 50, 100, 200]"
           data-page-size="25"
           data-search="true"
           >
      <thead>
        <tr>
          <th data-field="featured_photo_url" data-align="center" data-formatter="imageFormatter" data-width="110"><%# photo column %></th>
          <th data-field="id" data-align="center" data-sortable="true">SKU</th>
          <th data-field="status" data-align="center" data-sortable="true">Status</th>
          <th data-field="description" data-align="left" data-sortable="true" data-formatter="descriptionLinkFormatter">Description</th>
          <th data-field="users.last_name" data-align="center" data-sortable="true" data-formatter="accountLinkFormatter">Account</th>
          <th data-field="account_item_number" data-align="center" data-sortable="true">Acct.<br>Item<br>No.</th>
          <th data-field="purchase_price_cents" data-align="center" data-sortable="true" data-formatter="moneyFormatter">Cost</th>
          <!-- <th data-field="consigned" data-align="center">Consigned?</th> -->
          <!-- <th data-field="consignment_rate" data-align="center" data-sortable="true" data-formatter="percentFormatter">Consign-<br>ment<br>Rate</th> -->
          <th data-field="listing_price_cents" data-align="center" data-sortable="true" data-formatter="moneyFormatter">Listing<br>Price</th>
          <!-- <th data-field="listed_at" data-align="center" data-sortable="true" data-formatter="dateFormatter">Listing<br>Date</th> -->
          <th data-field="sale_price_cents" data-align="center" data-sortable="true" data-formatter="moneyFormatter">Sale<br>Price</th>
          <th data-field="sold_at" data-align="center" data-sortable="true" data-formatter="dateFormatter">Sale<br>Date</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<script>
  function imageFormatter(value, row) {
    return value;
  }

  function dateFormatter(value, row, index) {
    if (value == undefined) {
      return null
    } else {
      return moment(value).format("L")
    }
  }

  function percentFormatter(value, row, index) {
    if (row.client_intention == 'consign') {
      return value + '%'
    } else {
      return null
    }
  }

  function moneyFormatter(value, row, index) {
    if (value == undefined) {
      return null
    } else {
      return '$' + (value / 100).toFixed(2)
    }
  }

  function descriptionLinkFormatter(value, row, index) {
    return row.description_link
  }

  function accountLinkFormatter(value, row, index) {
    return row.account_link
  }

</script>
