<div class="row">
  <div class="col-sm-12 text-center">
    <h1 class="company-title">Items</h1>
    <% if @filter.present? %>
      <% case @filter %>
      <% when "Potential" %>
        <h4><%= @filter %> items have not yet been listed for sale or consigned.</h4>
      <% when "Active" %>
        <% if @type == "sell" %>
          <h4>For Sale items have a signed purchase order and are actively for sale.</h4>
        <% elsif @type == "consign" %>
          <h4>Consigned items have a signed agreement and are actively on consignment.</h4>
        <% else %>
          <h4>Active items are actively for sale or on consignment.</h4>
        <% end %>
      <% when "Sold" %>
        <h4><%= @filter %> items have been sold.</h4>
      <% end %>
    <% end %>
  </div>
</div>


<%= react_component('FilterableItemTable', intentions: @intentions_map, headers: general_headers, items: @items.map { |item| {description: item.description, photo: item.featured_photo_url(:thumb), path: item_path(item), values: general_values(item)} }) %>
