<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table table-shopping tablesorter">
        <thead>
          <tr>
            <th class="text-center">Agreement</th>
            <th class="text-center">Type</th>
            <th class="text-center">Date</th>
            <th class="text-center">Status</th>
            <% unless controller_name == "accounts" %>
              <th class="text-center">Account</th>
            <% end %>
            <th class="th-description">Job</th>
            <th class="text-center">Proposal</th>
            <th class="text-center">Letters</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "agreements/agreement", collection: agreements, cached: true %>
        </tbody>
      </table>
    </div>
  </div>
</div>
