<div class="row">
  <p class="text-center"><b>AGREED AND EXECUTED BY effective on the date first written above:</b></p>

  <div class="col-xs-12 col-md-6">
    <br />
    <br />
    <br />

    _________________________________________________________<br />
    <span><b>JTRP:</b> <%= @company.name %>, LLC</span>
  </div>

  <div class="col-xs-12 col-md-6">
    <br />
    <br />
    <br />
    _________________________________________________________<br />
    <span><b>Consignor:</b> <%= @account.full_name %></span>
  </div>

</div>
