<%= render 'proposals/header', form_name: "Consignment Agreement", agreement: agreement %>

<%= render 'agreements/consignment_terms', agreement: agreement %>

<div class="page-break"></div>

<h4>Addendums:</h4>

<div class="large-top-margin">
  <%= render 'items/items_list', headers: consignment_headers, context: "consignment_agreement", items: items %>
</div>

<div class="row large-top-margin">
  <%= render 'agreements/consignment_signature_blocks', agreement: agreement %>
</div>
