<div class="modal fade" tabindex="-1" role="dialog" id="consignment-terms-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="text-center">Consignment Agreement</h3><br>
      </div>
      <div class="modal-body">
        <%= render 'consignment_terms', agreement: agreement %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-raised btn-round" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
