<%= render 'proposals/header', form_name: "Service Invoice" %>

<div class="row vertical-align large-top-margin">
  <div class="col-xs-12">
    <table width="100%">
      <tr class="client-header text-center">
        <td class="client-header-text">Date</td>
        <td class="client-header-text">Description</td>
        <td class="client-header-text">Quantity</td>
        <td class="client-header-text">Rate</td>
        <td class="client-header-text">Minimum</td>
        <td class="client-header-text">Amount</td>
      </tr>
      <tr class="text-right">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="text-right">
        <td colspan="5">Total Due</td>
        <td>money</td>
      </tr>
    </table>
  </div>
</div>
