<div class="row large-top-margin">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="well bs-component large-top-margin">
      <%= render "agreements/#{@agreement.agreement_type}", items: @agreement.items, agreement: @agreement %>
    </div>
  </div>
</div>
