@import 'variables';

table.barby-barcode {
  border-spacing: 0;
}

tr.barby-row {
  height: 3em;
}

td.barby-cell {
  width: 3px; height: 3px;
}

td.barby-cell.on {
  background: #000;
}

tr.item-row-descriptor {
  height: 4em;
}

td.item-row-description {
  padding-left: 1em;
}

.barcode {
  margin-top: 1em;
}

.tag {
  margin-top: 1em;
  margin-bottom: 1em;
}

.tag-price {
  text-align: center;
  font-size: 28px;
}

.pdf-tag {
  background-color: #FFFFFF;
}

@media (max-width: 767px) {
  .form-label {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .form-label {
    text-align: right;
  }
}

#existing-item {
  margin-top: 2em;
  margin-bottom: 2em;
}

.half-thumb {
  width: 85px;
}
