.dd-container, #add-existing-item-button {
  margin-top: 1em;
}

.sigWrapper {
  border: none;
}

.sigPad input {
  border: none;
}

@media (max-width: 767px) {
  .thumb {
    max-width: 145px;
  }
}

.btn-responsive {
    white-space: normal !important;
}

.agreement-name-printed {
  margin-bottom: 3em;
}
