---
http_interactions:
- request:
    method: post
    uri: https://docraptor.com/async_docs
    body:
      encoding: UTF-8
      string: '{"test":true,"document_url":"https://jtrp.ngrok.io/accounts/champlin/statements/1?token=QFUbaSREoE2p\u0026print=true","name":"Marianna
        Champlin_Statement_1.pdf","document_type":"pdf","javascript":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MG1IVDN0REhWYk0yOEhuQWtPWms6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aaf74fae37be2c44352df57111f188e4"
    body:
      encoding: UTF-8
      string: '{"status_id":"14799abc-73bc-4330-9c12-a81c8088ef92"}'
  recorded_at: Mon, 10 Apr 2017 04:26:54 GMT
- request:
    method: get
    uri: https://docraptor.com/status/14799abc-73bc-4330-9c12-a81c8088ef92
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MG1IVDN0REhWYk0yOEhuQWtPWms6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f0a1c1a0cfb52787bdf8195cd46d1ef9"
    body:
      encoding: UTF-8
      string: '{"status":"queued"}'
  recorded_at: Mon, 10 Apr 2017 04:26:54 GMT
[...]
- request:
    method: get
    uri: https://docraptor.com/status/14799abc-73bc-4330-9c12-a81c8088ef92
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MG1IVDN0REhWYk0yOEhuQWtPWms6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68e8f9ec31f53c9ea694fb8506b4492f"
    body:
      encoding: UTF-8
      string: '{"status":"failed","validation_errors":"Response Code Error (404) downloading
        document content from supplied url."}'
  recorded_at: Mon, 10 Apr 2017 04:26:58 GMT
recorded_with: VCR 3.0.3
