---
http_interactions:
- request:
    method: post
    uri: https://docraptor.com/async_docs
    body:
      encoding: UTF-8
      string: '{"test":true,"document_url":"https://jtrp.ngrok.io/accounts/champlin/letters/2?token=fGQ5H9e2Mkr8\u0026print=true","name":"Marianna
        Champlin_Letter_2.pdf","document_type":"pdf","javascript":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MG1IVDN0REhWYk0yOEhuQWtPWms6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c92ad720d13214c2175cf5f3ae03163c"
    body:
      encoding: UTF-8
      string: '{"status_id":"a832536c-e181-431d-af3a-f0dcab849e67"}'
  recorded_at: Mon, 10 Apr 2017 04:26:59 GMT
- request:
    method: get
    uri: https://docraptor.com/status/a832536c-e181-431d-af3a-f0dcab849e67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MG1IVDN0REhWYk0yOEhuQWtPWms6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f0a1c1a0cfb52787bdf8195cd46d1ef9"
    body:
      encoding: UTF-8
      string: '{"status":"queued"}'
  recorded_at: Mon, 10 Apr 2017 04:26:59 GMT
[...]
- request:
    method: get
    uri: https://docraptor.com/status/a832536c-e181-431d-af3a-f0dcab849e67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MG1IVDN0REhWYk0yOEhuQWtPWms6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68e8f9ec31f53c9ea694fb8506b4492f"
    body:
      encoding: UTF-8
      string: '{"status":"failed","validation_errors":"Response Code Error (404) downloading
        document content from supplied url."}'
  recorded_at: Mon, 10 Apr 2017 04:27:03 GMT
recorded_with: VCR 3.0.3
