---
http_interactions:
- request:
    method: post
    uri: https://docraptor.com/async_docs
    body:
      encoding: UTF-8
      string: '{"test":true,"document_url":"https://jtrp.ngrok.io/accounts/anthony/letters/6?token=H1ZQKG7xnQmJ\u0026print=true","name":"Marianna
        Champlin_Letter_3.pdf","document_type":"pdf","javascript":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MG1IVDN0REhWYk0yOEhuQWtPWms6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd03cf8ddde0af1b0269339ce73fb620"
    body:
      encoding: UTF-8
      string: '{"status_id":"20711f8b-daab-4f76-8dd7-684ee73279cf"}'
  recorded_at: Mon, 10 Apr 2017 04:27:03 GMT
- request:
    method: get
    uri: https://docraptor.com/status/20711f8b-daab-4f76-8dd7-684ee73279cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MG1IVDN0REhWYk0yOEhuQWtPWms6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f0a1c1a0cfb52787bdf8195cd46d1ef9"
    body:
      encoding: UTF-8
      string: '{"status":"queued"}'
  recorded_at: Mon, 10 Apr 2017 04:27:04 GMT
[...]
- request:
    method: get
    uri: https://docraptor.com/status/20711f8b-daab-4f76-8dd7-684ee73279cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MG1IVDN0REhWYk0yOEhuQWtPWms6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bf21b775c1cede0e476c6c48d952a8de"
    body:
      encoding: UTF-8
      string: '{"status":"failed","validation_errors":"Response Code Error (500) downloading
        document content from supplied url."}'
  recorded_at: Mon, 10 Apr 2017 04:27:09 GMT
recorded_with: VCR 3.0.3
