<div class="card card-product card-plain" data-colored-shadow="false">
  <%= link_to category_path(category) do %>
    <div class="card-image">
      <%= image_tag(category.photo_url(
        client_hints: true,
        transformation: [
          {gravity: "auto", aspect_ratio: "3:4", crop: "fill"},
          {width: "auto:100:387", crop: "scale"}
        ]
      )) %>
    </div>
  <% end %>

  <div class="card-content text-center">
    <h4><%= link_to category.name.titleize, category_path(category) %></h4>
    <span class="price">
      From <%= humanized_money_with_symbol(category.lowest_price) %>
    </span>
  </div>
</div>
