<div class="col-xs-12 col-md-3">
  <div class="card card-product card-plain">
    <%= link_to category_path(category) do %>
      <div class="card-image">
        <%= cl_image_tag(category.featured_photo.photo.full_public_id,
          width: :auto,
          fetch_format: "auto",
          quality: "auto",
          gravity: "auto",
          aspect_ratio: "3:4",
          crop: "fill",
          responsive: true,
          responsive_placeholder: "blank",
          radius: 10,
        ) %>
      </div>
    <% end %>

    <div class="card-content text-center">
      <h4><%= link_to category.name.titleize, category_path(category) %></h4>
      <span class="price">
        From <%= humanized_money_with_symbol(category.lowest_price) %>
      </span>
    </div>
  </div>
</div>
