<%
  meta title: "Categories - #{@company.name}",
       description: "Browse items by category",
       keywords: @categories.pluck(:name)
%>

<div class="profile-page">

  <div class="profile-content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="profile">
            <div class="brand name text-center">
              <h3 class="title">Categories</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <h2 class="section-title title">Shop by category...</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <% @categories.primary.each do |category| %>
                <div class="col-md-3">
                  <%= render "categories/card", category: category %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
