<div class="row">
  <div class="col-sm-12 text-center">
    <h1 class="company-title"><%= @company.name %></h1>
    <h4><%= @company.slogan %></h4>
  </div>
</div>

<div class="row text-center">
  <h2>Categories</h2>
</div>

<% if current_user.try(:internal?) %>
  <div class="row text-center">
    <% if current_user && current_user.internal? %>
      <%= link_to "Add a category", new_category_path, class: "btn btn-raised btn-primary" %>
    <% end %>
  </div>
<% end %>

<div class="text-center well bs-component">
  <div class="row grid">
    <% @categories.each do |category| %>
      <% next if category.subcategory? %>
      <div class="col-xs-6 col-sm-4 grid-sizer"></div>
      <div class="col-xs-6 col-sm-4 grid-item">
        <%= render 'category_list_item', category: category %>
      </div>
    <% end %>
  </div>
</div>
