<%
  meta title: "Categories",
       description: "Browse items by category",
       keywords: @categories.pluck(:name)
%>

<div class="page-header header-filter clear-filter background-image" data-parallax="active"></div>

<div class="row over-background">
  <div class="col-xs-12 text-center">
    <h1 class="company-title"><%= @company.name %></h1>
    <h4><%= @company.slogan %></h4>
  </div>
</div>

<div class="main main-raised extra-large-top-margin">
  <div class="container">

    <%= render 'category_selector' %>

  </div>

</div>
