<% activities.each do |activity| %>
  <% begin %>
    <% cache activity do %>
      <% next if activity.trackable.nil? %>
      <div class="activity" style="margin-top: 10px;">
        <%= render_activity activity %>
      </div>
    <% end %>
  <% rescue %>
    <% next %>
  <% end %>
<% end %>
