<br />
<a href="https://twitter.com/jtrp_furniture" class="twitter-follow-button" data-show-count="false">Follow @jtrp_furniture</a>

<div class="g-plusone" data-href="https://plus.google.com/+JusttheRightPieceSalem"></div>

<br />
<a href="https://www.instagram.com/justtherightpiece/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
<br />

<div class="fb-like" data-href="https://www.facebook.com/justtherightpiece/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
