<div class="row">

  <div class="table-responsive">
    <table class="table table-shopping tablesorter">
      <thead>
        <tr>
          <th class="text-center"></th>
          <th class="text-center th-description">Name</th>
          <th class="text-center">Account No.</th>
          <th class="text-center">Jobs</th>
          <th class="text-center">Items</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% cache accounts do %>
          <% accounts.each do |account| %>
            <%= render 'accounts/account', account: account %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="text-center">
      <%= paginate accounts %>
    </div>

  </div>

</div>
