<div class="row">
  <div class="col-xs-12 col-sm-4">
    <a href="<%= new_account_job_path(@account) %>">
      <button class="btn btn-primary btn-round dashboard-button">
        <i class="material-icons md-48">add_location</i> <h3>Job</h3>
      </button>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4">
    <a href="<%= new_account_proposal_path(@account) %>">
      <button class="btn btn-info btn-round dashboard-button">
        <i class="material-icons md-48">add_location</i> <h3>Proposal</h3>
      </button>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4">
    <a href="<%= new_item_path %>">
      <button class="btn btn-success btn-round dashboard-button">
        <i class="material-icons md-48">add</i> <h3>Item</h3>
      </button>
    </a>
  </div>
</div>
