<div class="row">
  <div class="col-sm-12 text-center">
    <h1 class="company-title">Accounts</h1>
    <% if @filter.present? %>
      <% case @filter %>
      <% when "potential" %>
        <h4>Potential accounts have not yet signed an agreement.</h4>
      <% when "active" %>
        <h4>Active accounts have an active job.</h4>
      <% when "inactive" %>
        <h4>Inactive accounts have completed agreements or service orders.</h4>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'index_header_cards' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="row">
      <ul class="nav nav-pills nav-pills-icons nav-pills-primary text-center" role="tablist">
        <li class="">
          <a href="#potential" aria-controls="potential" role="tab" data-toggle="tab" aria-expanded="false">
            <i class="material-icons info">av_timer</i>
            <h5>Potential</h5>
          </a>
        </li>
        <li class="">
          <a href="#active" aria-controls="active" role="tab" data-toggle="tab" aria-expanded="false">
            <i class="material-icons primary">av_timer</i>
            <h5>Active</h5>
          </a>
        </li>
        <li class="">
          <a href="#inactive" aria-controls="inactive" role="tab" data-toggle="tab" aria-expanded="false">
            <i class="material-icons warning">av_timer</i>
            <h5>Inactive</h5>
          </a>
        </li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="large-top-margin">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="potential">
          <%= render "accounts_list", accounts: Account.potential %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="active">
          <%= render "accounts_list", accounts: Account.active %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="inactive">
          <%= render "accounts_list", accounts: Account.inactive %>
        </div>
      </div>
    </div>
  </div>
</div>
