<div class="row extra-large-top-margin full-height">

  <div class="text-center">
    <h1>Is this a company?</h1>
  </div>

  <div class="extra-large-top-margin text-center">
    <%= link_to "No", new_client_path, class: "btn btn-raised btn-primary btn-lg" %>
    <%= link_to "Yes", "javascript:void(0);", class: "btn btn-raised btn-primary btn-lg", id: "new-account-button" %>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="new-account-modal">
    <div class="modal-dialog">
      <%= render 'form' %>
    </div>
  </div>

</div>
